pyrogram
TgCrypto
py-tgcalls
python-dotenv
youtube_dl
youtube_search_python
youtube_search
youtube-dl
requests
aiohttp
asyncio
search_engine_parser
https://raw.githubusercontent.com/HasibulKabir/pyrogramarchive/master/pyrogramasyncv0.18.0.zip
wget
pillow
hachoir
